.container {
  display: flex;
  /* border: 2px solid red; */
  align-items: center;
  justify-content: flex-start;
  gap: 2.5%;
}
.dividerLine {
  width: 2px;
  height: 2.4rem;
  background-color: rgba(93, 95, 126, 1);
}
