.Card_container {
  height: 16.875rem;
  width: 11.25rem;
  border: 4px dashed #000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgb(192, 212, 200), rgb(207, 183, 237));
}
.img {
  width: 70%;
  height: 60%;
}
