.modal {
  border: 12px solid yellow;
}
.modal_container {
  background-color: #deeded;
  border: 2px dotted black;
  text-align: center;
}
.modal_Image_and_info {
  border: 2px solid violet;
  display: flex;
  justify-content: space-around;
}
.info {
  border: 2px solid orange;
  width: 50%;
  text-transform: capitalize;
}
.bottom_container {
  border: 3px dotted goldenrod;
}
.pokemon_type {
  border: 2px solid black;
}
