.App {
  padding: 2% 4%;
  font-family: pple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  display: flex;
  flex-wrap: wrap;
  gap: 3.5%;
  justify-content: center;
}
